body, html {
  overflow-x: hidden;  //tillfällig lösning på vidd-problem
  height: 100%;
}


.search-add-container {
  display: grid;
  grid-template-columns: 6.25rem 6.25rem 1fr 1fr 1fr auto 12.5rem;  //200px
  grid-template-rows: 3.75rem auto 3.75rem; //60px
} 

