.button-style {
  height: 6vh;
  width: auto;
  background-color: transparent;
  color: black;
  border: 2px solid $color-green;
  border-radius: 2px;
}

.button-style {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button-style:hover {
  background-color: $color-green;
}

.button-link-style {
  background-color: transparent;
  border: none;
  max-height: 1rem;
  max-width: auto;
  &:focus {
    border: none;
  }
  &:after {
    border: none;
  }
}
